{
  "rotation_time_utc": "09:00:00",
  
  "slots": [
    ["first_win_horde_01"],
    ["first_win_horde_02"],
    ["first_win_horde_03"],
    ["first_win_horde_04"],
    ["first_win_event_barricade_rtdm_001"],
    ["first_win_event_barricade_rtdm_002"],
    ["first_win_event_redlake_001"],
    ["first_win_event_redlake_002"],
    ["first_win_event_tdm_fastult_001"],
    ["first_win_event_tdm_fastult_002"],
    ["first_win_event_tdm_conq_nisida_001"],
    ["first_win_event_tdm_conq_nisida_002"],
    ["first_win_event_tdm_headshot_only_001"],
    ["first_win_event_tdm_headshot_only_002"],
    ["first_win_event_esc_hardcore_001"],
    ["first_win_event_esc_hardcore_002"],
    ["first_win_event_tdm_conq_island_001"],
    ["first_win_event_tdm_conq_island_002"],
    ["first_win_event_conq_001"],
    ["first_win_event_conq_002"],
    ["first_win_event_tdm_megaheads_001"],
    ["first_win_event_tdm_megaheads_002"],
    ["first_win_event_conq_hardcore_001"],
    ["first_win_event_conq_hardcore_002"],
    ["first_win_event_ffa_001"],
    ["first_win_event_ffa_002"],
    ["first_win_event_ffa_fastult_001"],
    ["first_win_event_ffa_fastult_002"],
    ["first_win_event_quicksand_001"],
    ["first_win_event_quicksand_002"],
    ["first_win_event_ptb_nisida_promenada_001"],
    ["first_win_event_ptb_nisida_promenada_002"],
    ["first_win_event_highpick_001"],
    ["first_win_event_highpick_002"],
    ["first_win_event_conq_headshot_only_001"],
    ["first_win_event_conq_headshot_only_002"],
    ["first_win_versus_001"],
    ["first_win_versus_002"],
    ["first_win_event_ptb_001"],
    ["first_win_event_ptb_002"],
    ["first_win_event_hecatomb_001"],
    ["first_win_event_hecatomb_002"],
    ["first_win_event_tdm_hardcore_001"],
    ["first_win_event_tdm_hardcore_002"],
    ["first_win_event_conq_promenade_001"],
    ["first_win_event_conq_promenade_002"],
    ["first_win_event_sunkenlab_001"],
    ["first_win_event_sunkenlab_002"],
    ["first_win_event_harbor_001"],
    ["first_win_event_harbor_002"],    
    
    
    ["daily_main"],
    ["daily_operative_kills", "daily_operative_ability"],
    ["daily_weapon"],
    ["daily_pvp", "daily_coop"],
    ["daily_hard"]
  ]
}
