Vertex texture animation parameters:
Material - : arabic_weave
Frame rate: 30
Frames amount: 60
Position:
Line in frame: 2
offsetBalancer: -1.314378
offsetRange: 1.863772

Vertex texture animation parameters:
Material - : base
Frame rate: 30
Frames amount: 60
Position:
Line in frame: 4
offsetBalancer: -1.542178
offsetRange: 2.533695

Vertex texture animation parameters:
Material - : metal
Frame rate: 30
Frames amount: 60
Position:
Line in frame: 4
offsetBalancer: -1.703610
offsetRange: 2.538482

